VITE_SUPABASE_URL=https://lbbirricigijbdjorkyx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxiYmlycmljaWdpamJkam9ya3l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NDI5NDgsImV4cCI6MjA5NDMxODk0OH0.eavBrV0ykVk1MaMRqY9UNOmHjfBmdoipmHoBYMLBtLo
